/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.container {
  box-sizing: border-box;
  width: calc(100% - 60px);
  max-width: 100%;
  padding: 45px 20px;
  margin: 0 auto;
}